<h3>Guestbook</h3>
<% cache @users do %>
    <ul>
        <% @users.each do |user| %>
            <li>
                <span class='date'><%= user.created_at %></span> 
                <span class='name'><%= user.name %></span>
            </li>
        <% end %>
    </ul>
<% end %>
