<li>
    <div class='info'>
        <span class='name'>Name: <%= link_to repo.name, repo.html_url %></span>
        <span class='language'>
            Language:
            <% if repo.language %>
                <%= link_to_search_with repo.language, :language => repo.language %>
            <% else %>
                None
            <% end %>
        </span>
        <span class='stargazers_count'><%= repo.stargazers_count %> Stars</span>
    </div>
    <div class='description'>
        <%= repo.description %>
    </div>
</li>
