// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid gray;
}

#search_panel {
    form {
        .form_row {
            display: flex;
            text-align: center;

            label:first-of-type {
                min-width: 15%;
            }
            input[type="text"] {
                flex-grow: 2;
                padding: 5px;
            }
        }
    }
}

#results_list {
    li {
        width: 95%;
        margin: 0.5em;
        border: 1px solid gray;

        .info {
            span {
                padding: 4px;
                border-bottom: 1px solid lightgray;
            }
        }
        .description {
            padding: 0.5em;
            padding-left: 1em;
            font-style: italic;
        }
    }
}